/* Estilo pagina caprisongs-tour */
.dates {
    margin-top: 32px;
  }
  
  .capritour {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .capritourBackground {
    width: 80%;
  }
