/* Estilo pagina caprimerch */
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.caprimerch {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "ele1 ele2";

    a:hover{
        text-decoration: underline $main-color;
    }
}

#twigsHead {
    width: auto;
    height: 70%;
    grid-area: ele1;
    position: fixed;
    bottom: 60px;
    left: 120px;
}

.fkaTwigsLogo {
    width: 700px;
}

.products {
    grid-area: ele2;
    @include flex-column-center
}

    /* Estilo mobile caprimerch */
@media screen and (max-width: 1024px) {
    .caprimerch {
        width: 100%;
        @include flex-column-center;
    }

    .caprimerch p {
        font-size: 20px;
    }

    .caprimerch a {
        font-size: 20px;
    }

    #twigsHead {
        width: 70%;
        height: auto;
        position: relative;
        margin: 0 auto;
        left: 0;
        top: 0;
    }
}

/* Estilo mobile pequeño caprimerch */

@media screen and (max-width: 500px) {
    .logo {
        width: 100%;
        img {
            margin-top: 32px;
            width: 60%;
        }
    }
}