/* Estilo pagina discography */
/* caprisongs */
.caprisongs {
    width: 100%;
    display: flex;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #9c7b6c, #26588d);
        color: #ffffff;
    }
}

/* magdalene */
.magdalene {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #E08155;
    }

    a {
        width: 100%;
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #c6ae94, #E08155);
        color: #ffffff;
    }


}


/* lp1 */
.lp1 {
    width: 100%;
    display: flex;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #AF2E47;
    }

    a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #52b9d8, #AF2E47);
        color: #ffffff;
    }
}


/* m3ll155x */
.m3ll155x {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #E1CCB9;
    }

    a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #E1CCB9, #232124);
        color: #ffffff;
    }
}


/* ep2 */
.ep2 {
    width: 100%;
    display: flex;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FCFBFC;
    }

    a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #FCFBFC, #ada79c);
        color: #ffffff;
    }


}

/* ep1 */
.ep1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    img {
        width: 50%;
        height: 50%;
    }

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #E5E1D6;
    }

    a {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    div:hover {
        background-image: linear-gradient(to bottom, #f7f6f2, #d3cbbe);
        color: #ffffff;
    }
}


/* Estilo mobile discograohy */
@media screen and (max-width: 1024px) {
    .discography {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* caprisongs */
    .caprisongs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        a {

            font-size: 30px;
        }

        h1 {
            font-size: 40px;
        }

        div {
            width: 100%;
            height: 100vw;
        }
    }

    .caprisongs img {
        width: 100%;
        height: 100%;

        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        }
    }

    /* magdalene */
    .magdalene {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        }
    }

    /* lp1 */
    .lp1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        }
    }

    /* m3ll155x */
    .m3ll155x {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        } 
    }

    /* ep2 */
    .ep2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        }
    }

    /* ep1 */
    .ep1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            font-size: 30px;
        }
        h1 {
            font-size: 40px;
        }
        div {
            width: 100%;
            height: 100vw;
        }    
    }
}