/* Estilo pagina newsletter */
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.newsletter {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center
}

.form{
    form{
        width: 100%
    }
    @include flex-column-center;
    width: 50%;
}

.videoNewsletter {
    width: 50%;
}

.logo {
    img {
        margin-top: -32px;
        width: 300px;
    }
}
.entrada{
    width: 50vw;
}
input{
    width: 80%;
    margin-top: 16px;
    background-color: black;
    border: 3px solid $main-color;
    color: $main-color;
}



.selector{
    select{
        background-color: black;
        color: $main-color;
        border: 3px solid $main-color;
        text-align: left;
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        display: block;
    }
    width: 80%;
    // text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-item:hover {
    color: black;
}

.newsletter-button{
    width: 100%;
    color: $main-color;
    background-color: black;
    // border:$main-color;
    margin-top: 20px;
}

/* Estilo mobile newsletter */
@media screen and (max-width: 1024px) {
    .newsletter {
        display: inline-block;
        position: relative;
        font-size: 20px;
    }

    .videoNewsletter {

        width: 100%;
        z-index: -5;
    }

    .form {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        @include flex-column-center;

        .selector{
            select{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            width: 80%;
        }
        .entrada{
            width: 100%;
        }
        button{
            background-color: rgba($color: #000000, $alpha: 0);
            margin-top: 20px;
        }
    }
    
    input{
        width: 80%;
        margin-top: 16px;
    }
}

/* Estilo mobile pequeño newsletter */

@media screen and (max-width: 500px) {
    .logo {
        width: 100%;
        img {
            margin-top: 32px;
            width: 60%;
        }
    }
.entrada{
    width: 100%;
}
    .newsletter{
        font-size: 15px;
    }

    .selector{
        select{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        width: 80%;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

